#ubicacion{
    width: 48%;
    background-color: green;
   height: 1000px;
    display:block;
    float:left;

}
body{

    background-color: red;
}
#ShowMap{
    width: 48%;
    background-color: yellow;
    height: 1000px;
    display:block;
    float:left;

}




iframe{
    visibility: hidden;
}
